html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px) {
    .dos-columnas{
        /*Con flex box todos los elementos hijos de van a mostrar de izquierda a derecha*/
        display: flex; /*propiedad flex-box*/
        justify-content: space-between;
    }

    /*Para que funcione el mover las columnas en dos se necesita el space y en los hijos 
    ponerle flex; flex requiere una sintaxis el factor de crecimiento, otro el factor de hacerlo
    mas pequeño y finalmente su tamaño base*/
    .entrada-blog{
        flex: 0 0 calc(50% - 1rem);
    }
}